<% relationships.each do |relationship| %>
<div class="container">
  <div class="row offset-4">
    <div>
      <strong>新規フォロー</strong>
    </div>

    <div>
      <ul>
        <% if member_signed_in? %>
          <% if relationship.followed_type == "member" && relationship.follower_type == 'member' %>
            <li>ユーザーネーム：<%= Member.find(relationship.follower_id).user_name %></li>
            <li><%= link_to "詳細", member_path(relationship.followed_id, relationship_id: relationship.id) %><li>
          <% elsif relationship.followed_type == "member" && relationship.follower_type == 'trainer' %>
            <li>ユーザーネーム：<%= Trainer.find(relationship.follower_id).user_name %></li>
            <li><%= link_to "詳細", member_path(relationship.followed_id, relationship_id: relationship.id) %><li>
          <% end %>
        <% elsif trainer_signed_in? %>
          <% if relationship.followed_type == "trainer" && relationship.follower_type == 'member' %>
            <li>ユーザーネーム：<%= Member.find(relationship.follower_id).user_name %></li>
            <li><%= link_to "詳細", trainer_path(relationship.followed_id, relationship_id: relationship.id) %><li>
          <% elsif relationship.followed_type == "trainer" && relationship.follower_type == 'trainer' %>
            <li>ユーザーネーム：<%= Trainer.find(relationship.follower_id).user_name %></li>
            <li><%= link_to "詳細", trainer_path(relationship.followed_id, relationship_id: relationship.id) %><li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>