<div>
  <%= image_tag @member.get_profile_image(100,100) %>
  <%= @member.user_name %>
</div>

<div>
  <p>投稿数</P>
  <p>氏名</p>
  <p>電話番号</p>
  <p>メールアドレス</p>
  <p>会員ステータス</p>
</div>

<div>
  <p><%= @member.posts.count %></p>
  <p><%= @member.name %></p>
  <p><%= @member.telephone_number %></p>
  <p><%= @member.email %></p>
  <p>
    <% if @member.is_delete %>
      <div>退会</div>
    <% else %>
      <div>有効</div>
    <% end %>
  </p>
</div>


  <%= link_to "編集", edit_admin_member_path(@member) %>

</div>

<div>
  <%= @member.introduction %>
</div>

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image(100,100) %>
  <% end %>
</div>
<% end %>
