<div>
  <h4>サブスク一覧・追加</h4>
    <p id="notice"></p>
    <div>
      <%= form_with model: @subscription_plan, url: admin_subscription_plans_path, method: :post do |f| %>
        <div>
          <%= f.label :サブスク名 %>
          <%= f.text_field :plan %>
        </div>
        <div>
          <%= f.label :価格 %>
          <%= f.text_field :price %>
        </div>
      <%= f.submit '新規登録' %>
    <% end %>
    </div>
    <div>
      <p>ジャンル</p>
      <% @subscription_plans.each do |subscription_plan| %>
        <%= subscription_plan.plan %>
        <%= subscription_plan.price.to_s(:delimited) %>円
        <%= link_to "編集", edit_admin_subscription_plan_path(subscription_plan.id) %>
      <% end %>
    </div>
</div>

