<div>
  <div>
    <%= image_tag @trainer.get_profile_image(100,100) %>
    <%= @trainer.user_name %>
    <p>フォロワー <%= @trainer.get_follower_trainers.count %></p>
    <p>フォロー中 <%= @trainer.get_following_trainers.count %></p>
    <p>投稿数 <%= @trainer.posts.count %></P>

  </div>

  <div>
  <p>氏名 <%= @trainer.name %></p>
  <%= @trainer.introduction %>
  </div>

  <div>
    <% if @trainer == current_trainer %>
      <div><%= link_to "編集", edit_trainer_path(@trainer) %></div>
      <div><%= link_to "いいね一覧", post_likes_trainer_path %></div>
    <% end %>
  </div>

  <div>
    <% if trainer_signed_in? && current_trainer != @trainer %>
      <% if current_trainer.following?(@trainer.id) %>
        <%= link_to "フォロー外す", trainer_relationships_path(@trainer.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", trainer_relationships_path(@trainer.id), method: :post %>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if member_signed_in? %>
      <%= link_to "サブスク登録をする", subscriptions_new_path(@trainer.id) %>
    <% end %>
  </div>

  <div>
    <% if trainer_signed_in? && current_trainer = @trainer %>
      <%= link_to "サブスク会員一覧", subscriptions_path %>
    <% end %>
  </div>

  <% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(100,100) %>
    <% end %>
  </div>
  <% end %>
</div>
