<div>
  <%= image_tag @trainer.get_profile_image(100,100) %>
  <%= @trainer.user_name %>


  <p>投稿数 <%= @trainer.posts.count %></P>
  <p>氏名 <%= @trainer.name %></p>

  <% if @trainer == current_trainer %>
    <div><%= link_to "編集", edit_trainer_path(@trainer) %></div>
    <div><%= link_to "いいね一覧", post_likes_trainer_path %></div>
  <% end %>
</div>

<div>
  <%= @trainer.introduction %>
</div>

<div>
<% if current_member.following?(@trainer.id) %>
  <%= link_to "フォロー外す", member_relationships_path(@trainer.id), method: :delete %>
<% else %>
  <%= link_to "フォローする", member_relationships_path(@trainer.id), method: :post %>
<% end %>

</div>

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image(100,100) %>
  <% end %>
</div>
<% end %>
