<div>
  <div>
    <%= image_tag @member.get_profile_image(100,100) %>
    <%= @member.user_name %>
    <p>フォロワー <%= @member.get_follower_members.count %></p>
    <p>フォロー中 <%= @member.get_following_members.count %></p>
    <p>投稿数 <%= @member.posts.count %></P>

  </div>

  <p>氏名 <%= @member.name %></p>

  <% if @member == current_member %>
    <div><%= link_to "編集", edit_member_path(@member) %></div>
    <div><%= link_to "いいね一覧", post_likes_member_path %></div>
  <% end %>
</div>

<div>
  <%= @member.introduction %>
</div>

<div>
  <% if member_signed_in? && current_member != @member %>
    <% if current_member.following?(@member.id) %>
      <%= link_to "フォロー外す", member_relationships_path(@member.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", member_relationships_path(@member.id), method: :post %>
    <% end %>
  <% end %>
</div>

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image(100,100) %>
  <% end %>
</div>
<% end %>
