<h2>トレーナー新規登録</h2>

<%= form_with model: @trainer, url: trainer_registration_path do |f| %>
  <%= render "public/trainers/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード"  %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認" %>
  </div>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "フルネーム" %>
  </div>

  <div class="field">
    <%= f.text_field :user_name, autofocus: true, placeholder: "ユーザーネーム" %>
  </div>

  <div class="field">
    <%= f.text_field :telephone_number, autofocus: true, placeholder: "電話番号"  %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<%= render "public/trainers/shared/links" %>
