<p>
  <% if @post.member_id.present? %>      <!--投稿の投稿主が会員場合-->
    <%= image_tag @post.member.get_profile_image(100,100) %>
    <%= @post.member.user_name %>
  <% elsif @post.trainer_id.present? %>  <!--投稿の投稿主がトレーナー場合-->
    <%= image_tag @post.trainer.get_profile_image(100,100) %>
    <%= @post.trainer.user_name %>
  <% end %>
</p>

<%= image_tag @post.get_image(100, 100) %>
  <%= form_with model: @post, url: post_path, local: true do |f| %>
  <div class="form-group">
    <p><%= f.text_area :description %></p>
  </div>
  <div class="form-group">
    <%= f.submit '変更を保存する' %>
  </div>
  <% end %>
