<% @posts.each do |post| %>
<div>
  <p>
    <%= image_tag 'no_image.jpg' %>
    <% if post.member_id.present? %>      <!--投稿の投稿主が会員場合-->
    　<%= post.member.user_name %>
    <% elsif post.trainer_id.present? %>  <!--投稿の投稿主がトレーナー場合-->
      <%= post.trainer.user_name %>
    <% end %>
  </p>
  <%= image_tag post.get_image(100, 100) %>
  <p>投稿内容：<%= post.description %></p>
  <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
</div>
<% end %>