<% @posts.each do |post| %>
<div>
  <%= image_tag post.get_image(100, 100) %>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
  <p>説明：<%= post.description %></p>
  <% if member_signed_in? %>
    <p>ユーザーネーム：<%= post.member.user_name %></p>
  <% elsif trainer_signed_in? %>
    <p>ユーザーネーム：<%= post.trainer.user_name %>></p>
  <% end %>
</div>
<% end %>