<div class="container">
  <div class="row mt-3 d-flex justify-content-center">
    <h3>投稿フォーム</h3>
  </div>

  <p id="notice"><strong><%= notice %></strong></p>
    <div>
      <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

  <div class="row my-4 d-flex justify-content-center">
    <%= form_with model: @post, url: posts_path do |f| %>
      <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="row my-4 d-flex justify-content-center">
    <%= f.text_area :description, placeholder: "内容を書く", class: "textPost" %>
  </div>

  <div class="row my-4 d-flex justify-content-center">
    <%= f.submit '投稿', class: "btn btn-success submit_post" %>
    <% end %>
  </div>
</div>