<div>
  <p>
    <% if @post.member_id.present? %>      <!--投稿の投稿主が会員場合-->
      <%= image_tag @post.member.get_profile_image(100,100) %>
    　<%= @post.member.user_name %>
    <% elsif @post.trainer_id.present? %>  <!--投稿の投稿主がトレーナー場合-->
      <%= image_tag @post.trainer.get_profile_image(100,100) %>
      <%= @post.trainer.user_name %>
    <% end %>
  </p>
  <p>
    <% if member_signed_in? && @post.member == current_member %>
      <%= link_to "編集", edit_post_path(@post) %>
    <% elsif trainer_signed_in? && @post.trainer == current_trainer %>
      <%= link_to "編集", edit_post_path(@post) %>
    <% end %>
  </p>
  <p>投稿内容：<%= @post.description %></p>
</div>

<div>
  <% if (member_signed_in? && @post.liked_by_member?(current_member)) || (trainer_signed_in? && @post.liked_by_trainer?(current_trainer)) %> <!--会員がログイン、いいねを押しているか判断。falseなら右に移る-->
    <p>
      <%= link_to post_post_likes_path(@post), method: :delete do %>
        ♥<%= @post.post_likes.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_post_likes_path(@post), method: :post do %>
        ♡<%= @post.post_likes.count %> いいね
      <% end %>
    </p>
  <% end %>

  <p>コメント件数：<%= @post.post_comments.count %></p>
    <% @post.post_comments.each do |post_comment| %>
      <% unless post_comment.member.nil? # nilでない場合、コメントに紐づいたメンバーの情報を引っ張る %>
        <p><%= image_tag post_comment.member.get_profile_image(100,100) %></p>
        <%= post_comment.member.user_name %>
      <% end %>

      <% unless post_comment.trainer.nil? # nilでない場合、コメントに紐づいたトレーナーの情報を引っ張る %>
        <p><%= image_tag post_comment.trainer.get_profile_image(100,100) %></p>
        <%= post_comment.trainer.user_name %>
      <% end %>

      <small><%= post_comment.created_at.strftime('%Y/%m/%d') %></small>
      <%= simple_format(post_comment.comment) %>
      <% if post_comment.member == current_member || post_comment.trainer == current_trainer %> <!--現在のログインユーザーがコメントをした会員またはトレーナーの場合-->
        <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
      <% end %>
    <% end %>
</div>
<div>
  <%= form_with model: [@post, @post_comment] do |f| %> <!--ネストしているので2つインスタンス必要-->
    <%= f.text_area :comment, rows: '5', placeholder: "コメントする" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
