<div>
  <p>
    <%= image_tag 'no_image.jpg' %>
    <% if @post.member_id.present? %>      <!--投稿の投稿主が会員場合-->
    　<%= @post.member.user_name %>
    <% elsif @post.trainer_id.present? %>  <!--投稿の投稿主がトレーナー場合-->
      <%= @post.trainer.user_name %>
    <% end %>
  </p>
  <p>
    <% if member_signed_in? && @post.member == current_member %>
      <%= link_to "編集", edit_post_path(@post) %>
    <% elsif trainer_signed_in? && @post.trainer == current_trainer %>
      <%= link_to "編集", edit_post_path(@post) %>
    <% end %>
  </p>
  <p>投稿内容：<%= @post.description %></p>
</div>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
    <% @post.post_comments.each do |post_comment| %>
    <% if member_signed_in? %>
      <p><%= image_tag post_comment.member.get_profile_image(50,50) %></p>
      <%= post_comment.member.user_name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% elsif trainer_signed_in? %>
      <p><%= image_tag post_comment.trainer.get_profile_image(50,50) %></p>
      <%= post_comment.trainer.user_name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% end %>
    <% end %>
</div>
<div>
  <%= form_with model: [@post, @post_comment] do |f| %> <!--ネストしているので2つインスタンス必要-->
    <%= f.text_area :comment, rows: '5', placeholder: "コメントする" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
