<!DOCTYPE html>
<html>
  <head>
    <title>FitnessConnection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
    <% if admin_signed_in? %>
      <div class="header-all shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light p-4 navGlay">
      <div class="offset-1">
        <%= image_tag "logo.jpg", size: '75x75' %>
      </div>
      <div class="col-sm-5 ml-3">
        <%= form_with url: searches_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: params[:keyword], class: "offset-sm-1 searchField" %>
          <%= f.submit :検索, class: "btn-primary rounded searchClick" %>
        <% end %>
      </div>
    <% elsif member_signed_in? %>
      <div class="header-all shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light p-4 navOrange">
      <div class="col-sm-5 ml-3">
        <%= form_with url: searches_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: params[:keyword], class: "offset-sm-1 searchField" %>
          <%= f.submit :検索, class: "bg-info" %>
        <% end %>
      </div>
    <% elsif trainer_signed_in? %>
      <div class="header-all shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light p-4 navBlue">
      <div class="col-sm-5 ml-3">
        <%= form_with url: searches_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: params[:keyword], class: "offset-sm-1 searchField" %>
          <%= f.submit :検索, class: "bg-info" %>
        <% end %>
      </div>
    <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <% if admin_signed_in? %>
                <li class="nav-item border border-1 mx-2 navItem"><%= link_to "投稿一覧", posts_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-2 navItem"><%= link_to "トレーナー一覧", admin_trainers_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-2 navItem"><%= link_to "会員一覧", admin_members_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-2 navItem"><%= link_to "サブスク一覧", admin_subscription_plans_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-2 navItem"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></li>
              <% elsif member_signed_in? %>
                <%= form_with url: searches_path, method: :get, local: true do |f| %>
                  <%= f.text_field :keyword, value: params[:keyword] %>
                  <%= f.submit :検索 %>
                <% end %>
                <li class="nav-item border border-1 mx-1 navItem"><%= link_to "投稿一覧", posts_path %></li>
                <li class="nav-item border border-1 mx-1 navItem"><%= link_to "マイページ", member_path(current_member) %></li>
                <li class="nav-item border border-1 mx-1 navItem"><%= link_to "通知一覧", new_notifications_member_path(current_member) %></li>
                <li class="nav-item border border-1 mx-1 navItem"><%= link_to "ログアウト", destroy_member_session_path, method: :delete %></li>
              <% elsif trainer_signed_in? %>
                <%= form_with url: searches_path, method: :get, local: true do |f| %>
                  <%= f.text_field :keyword, value: params[:keyword] %>
                  <%= f.submit :検索 %>
                <% end %>
                <li class="nav-item border border-1 mx-1 navItem"><%= link_to "投稿一覧", posts_path %></li>
                <li class="nav-item border border-1 mx-1 navItem"><%= link_to "マイページ", trainer_path(current_trainer) %></li>
                <li class="nav-item border border-1 mx-1 navItem"><%= link_to "通知一覧", new_notifications_trainer_path(current_trainer) %></li>
                <li class="nav-item border border-1 mx-1 navItem"><%= link_to "ログアウト", destroy_trainer_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
    </div>
  </body>
  <main>
    <%= yield %>
  </main>
</html>
